body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.moonBox {
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: black;
  left: 50%;
}

.stars{
    width: 3px;
    height: 3px;
    position: absolute;
    right: 10%
}


.sunBox {
  position: absolute;
  width: 45%;
  height: 100%;
  right: 50%;
}

.middleBox {
  width: 50%;
  height: 100%;
  position: absolute;
  background: linear-gradient(to right, rgb(255, 255, 255), black);
}

.Moon {
  width: 45px;
  height: 45px;
  border: 1px solid #ede9d7;
  border-radius: 50%;
  position: absolute;
  top: 70px;
  right: 200px;
  background-color: #ede9d7;
  box-shadow: 0 0 70px #bcbbbb;
}



.Sun {
  width: 40px;
  height: 40px;
  border: 1px solid #fac259;
  border-radius: 50%;
  position: absolute;
  top: 70px;
  left: 200px;
  background-color: #fac259;
  box-shadow: 0 0 50px #d59010;
}

.box {
  width: 400px;
  height: 120px;
  border: 2px solid grey;
  border-radius: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

}
